@model User

@{
    ViewData["Title"] = "Registration";
}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">

        <div class="section-title mt-2">
            <h2>Registration</h2>
            <p>Registration is simple and can be done in minutes. Already have an account <a asp-controller="Account" asp-action="Login">login here.</a></p>
        </div>

        <div class="row">
            <div class="col-lg-8 mt-5 mt-lg-0">
                <partial name="_NotificationPartial" />
                <div class="col-md-12 my-2">
                    <div class="card">
                        <div class="card-body">
                            <form asp-action="Register">
                                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                <div class="form-group">
                                    <label asp-for="FirstName" class="control-label"></label>
                                    <input asp-for="FirstName" class="form-control form-control-sm" placeholder="First Name (e.g. Chukwudi)" />
                                    <span asp-validation-for="FirstName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="LastName" class="control-label"></label>
                                    <input asp-for="LastName" class="form-control form-control-sm" placeholder="Last Name (e.g. Ciroma)" />
                                    <span asp-validation-for="LastName" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <label for="addresss">Address</label>
                                        <div class="form-row">
                                            <div class="col-2">
                                                <input type="text" asp-for="HouseNumber" class="form-control form-control-sm" placeholder="No (e.g. 5)" maxlength="4" inputmode="numeric" required>
                                                <span asp-validation-for="HouseNumber" class="text-danger"></span>
                                            </div>
                                            <div class="col">
                                                <input type="text" asp-for="StreetName" class="form-control form-control-sm" placeholder="Street Name (e.g. Aguda Street)" maxlength="40" required>
                                                <span asp-validation-for="StreetName" class="text-danger"></span>
                                            </div>
                                            <div class="col">
                                                <input type="text" asp-for="AreaName" class="form-control form-control-sm" placeholder="Name of Area (e.g. Aguda, Surulere)" maxlength="40" required>
                                                <span asp-validation-for="AreaName" class="text-danger"></span>
                                            </div>
                                        </div>
                                        <div class="form-row mt-2">
                                            <div class="col">
                                                <select class="form-control dynamic-state form-control-sm" id="stateId" name="stateId" asp-items="ViewBag.states" data-dependent="lga" required>
                                                    <option>Select State</option>
                                                </select>
                                            </div>
                                            <div class="col">
                                                <select class="form-control form-control-sm" name="lga" id="lga" required>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label asp-for="Email" class="control-label"></label>
                                    <input asp-for="Email" class="form-control form-control-sm" placeholder="Email (e.g. hello@xyz.com)" />
                                    <small class="form-text text-muted">
                                        Your email will not be shared. Why we need your email? <br />
                                        - all communication with ForLet is via email, no SMS. <br />
                                        - you get notified when your ad is deleted(marked as rented) by any forlet user. <br />
                                    </small>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label asp-for="PhoneNumber" class="control-label"></label>
                                    <input asp-for="PhoneNumber" class="form-control form-control-sm" placeholder="Phone Number" />
                                    <small class="form-text text-muted">
                                        You can use your phone number to login to your account
                                    </small>
                                    <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control form-control-sm" placeholder="Password" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Confirm Password</label>
                                    <input type="password" class="form-control form-control-sm" asp-for="ConfirmPassword" placeholder="Confirm Password" />
                                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

                                </div>

                                <div class="form-group">
                                    <input type="submit" value="Register" class="btn btn-primary btn-get-started" />
                                </div>
                            </form>
                                
                        </div>
                    </div>
                </div>
            </div>

            <partial name="_sidebarPartial" />

        </div>

    </div>
</section><!-- End Contact Section -->

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}