@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset Password";
}

<section id="contact" class="contact">
    <div class="container" data-aos="fade-up">
        <div class="section-title mt-2">
            <h2>Reset Your Password </h2>
            <p>Fill in your new password.</p>
        </div>

        <div class="row">

            <div class="col-lg-8 mt-5 mt-lg-0">
                @if (Model?.IsSuccess == true)
                {
                    <div class="alert alert-success" role="alert">
                        <p>
                            Password updated successfully. You may login.
                        </p>
                    </div>
                }
                else
                {
                    <p>Enter details for your new password.</p>

                    <form asp-action="ResetPassword">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                        <input type="hidden" asp-for="UserId" class="form-control" />
                        
                        <input type="hidden" asp-for="Token" class="form-control" />
                        
                        <div class="form-group">
                            <label asp-for="NewPassword" class="control-label"></label>
                            <input asp-for="NewPassword" class="form-control" />
                            <span asp-validation-for="NewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label asp-for="ConfirmNewPassword" class="control-label"></label>
                            <input asp-for="ConfirmNewPassword" class="form-control" />
                            <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <input type="submit" value="Reset Password" class="btn btn-primary" />
                        </div>
                    </form>
                }
                <div>
                    <p><a asp-action="Login" asp-controller="Account">Back to Login</a></p>
                </div>
            </div>

            <partial name="_sidebarPartial" />

        </div>
    </div>
</section><!-- End Contact Section -->

@section Scripts
{
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}